.company_holder_trimmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--background-color);
  border-radius: 100px 0 100px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);

  border: 1.5px solid var(--border-color, transparent);
  transition: border-color 0.3s ease;
  padding: 7px;
}

.company_holder_trimmed:hover {
  border-color: var(--hover-border-color, transparent);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.company_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);

  border: 1.5px solid var(--border-color, transparent);
  transition: border-color 0.3s ease;
  padding: 7px;
}

.company_holder:hover {
  border-color: var(--hover-border-color, transparent);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.tools_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1;
}

@media (max-width: 1030px) {
  .company_holder_trimmed {
    height: 18.9rem;
  }

  .company_holder {
    height: 18.9rem;
  }
}

@media (max-width: 991px) {
  .company_holder_trimmed {
    height: 16rem;
    border-radius: 70px 0 70px 0;
  }

  .company_holder {
    height: 16rem;
  }
}

@media (max-width: 804px) {
  .company_holder_trimmed {
    height: 15rem;
  }

  .company_holder {
    height: 15rem;
  }
}

@media (max-width: 768px) {
  .company_holder_trimmed {
    height: 40vw;
    /* border-radius: 70px 0 70px 0; */
  }

  .company_holder {
    height: 40vw;
  }
}

@media (max-width: 480px) {
  .company_holder_trimmed {
    height: 44vw;
    border-radius: 40px 0 40px 0;
  }

  .company_holder {
    height: 44vw;
  }

  .navbar-brand {
    font-size: .95rem;
  }
}
