.about_container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(248, 248, 248, 0.984);
}

.skillset_wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.skillset_wrapper li {
  font-family: 'Cabin Condensed', sans-serif;
}

.skillset_wrapper li::before {
  content: '☆ ';
  /* content: "▹ "; */
  color: #8892b0;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .skillset_wrapper {
    grid-template-columns: repeat(2, minmax(140px, 200px));
  }
}
