.footer_container {
  box-shadow: inset 0px 6px 10px -6px rgba(0, 0, 0, 0.3);
  padding-top: .2rem;
  background: #f7f7f7 url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

.footer_nav {
  font-size: 0.78rem;
}

.footer_nav_items {
  color: grey;
  text-decoration: none;
}

.footer_nav_items:hover {
  color: rgb(66, 65, 65);
}

#watermark {
  font-size: 0.8rem;
}

.fa {
  color: grey;
  font-size: 1rem;
}

.fa:hover {
  color: rgb(66, 65, 65);
}

.back_to_top_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3em;
  z-index: 999;
}

.back_to_top li {
  position: relative;
  display: inline-block;
}

.back_to_top li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: -1;
}

.back_to_top a:link, .back_to_top a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  width: 6em;
  height: 6em;
  position: relative;
  text-align: center;
  line-height: 6em;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.back_to_top a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.back_to_top a:active {
  box-shadow: none;
  border: solid 1px #a7a7a7;
}

.back_to_top a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

@media (max-width: 991px) {
  .footer_nav {
    display: none;
  }

  #watermark {
    font-size: 0.7rem;
    align-self: center;
  }
}
