.home_bottom {
  padding-bottom: 6rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    'a b c'
    'd e f';
  min-height: 90vh;
  background-size: contain;
}

.announcer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
    position: relative;
}

.announcer::after {
    content: "";
    height: 2rem; /* Height of the divider */
    width: 1.6px; /* Width of the divider */
    background-color: #ccc; /* Color of the divider */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.announcer h2 {
    margin: 0; /* Remove default margin for the h2 elements */
}

@media (max-width: 1025px) {
  .main-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .main-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'a b'
      'c d';
  }
}
